#GetStartedSection {
    margin-top: 40px;
    h1,h3 {
        color: #203d8c;
        font-family: 'tiemposheadline-medium','times new roman';
        font-weight: bolder;
    }
    .leftPane {
        margin: 0px 0px 50px 0px;
        h3 {
        font-size: 36px;
        }
        p {
            font-size: 20px;
        }
        button {
            background: #203d8c;
            color: white;
            border-radius: 20px;
            font-size: 18px;
        }
    }
    .rightPane {
        color: #203d8c;
        .boxStyle {
            background-color: white;
            border: 1px solid #bcbcbc;
            border-radius: 15px;
            padding: 15px;
            box-shadow: 2px 2px 10px;
        }
        .col-md-2 {
            border-right: 2px solid lightgrey;
        }
        h1 {
            font-size: 44px;
            display: inline-block;
        }
        h5 {
            font-size: 20px;
            margin: 0px 0px 9px 0px;
        }
    }
}
