#landing-home {
    background-color: #2B3137;

    h3{
     color: white;
    }

    p {
        color: #A8ABAD;
        font-size: 18px;
        font-weight: 300;
        -webkit-font-smoothing: antialiased;
    }
}