#BorrowerSection {
    h1 {
        text-align: center;
        color: #0f2944;
    }
    button {
        background-color: #0F2944;
        color: white;
        border-radius: 15px;
        outline: none;
    }
    .redColor {
        color: darkred;
    }
    .pagination {
        .active {
            a {
                background-color: #0f2944;
            }
        }   
    }
}