#navBarContainer {
    background: linear-gradient( rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    z-index: 2;
    border: none;
    border-radius: 0px;
    width: 100%;
    position: absolute;
    top: 0;
    
     strong {
        color: white;
        cursor: default;
    }
    a {
        color: white;
    }
    a:hover {
        background-color:  #0f2944;
    }
    img {
        margin-top: -6px;
    }
}
